<!--- ABOUT APP -->
<header>
    <div id="logo">
        <a href="/home-main">
            <li>MyCarApp</li>
        </a>
    </div>

    <nav id="main-nav">
        <ul>
            <a href="/home-main">
                <li>About</li>
            </a>
            <a href="/home-main">
                <li>Contact</li>
            </a>
            <a href="/myaccount">
                <li>MyAccount</li>
            </a>
            <a href="/">
                <li>Logout</li>
            </a>
        </ul>
    </nav>
</header>

<section>
    <hr>
    <div>
        <h1>Beschreibung My-Car-App</h1>
    </div>
</section>

<section>
    <hr>
    <div>
        <h1>Kostenübersich Favorit</h1>
    </div>
</section>

<section>
    <hr>
    <div>
        <h1>Tankstellen- / Spritpreis-Abfrage</h1>
        <form action="/myaccount/fuelstations/" method="GET" id="form-geoCode-get">
            <div>
                <label for="plz">Postleitzahl:</label>
                <input type="text" name="plz" id="plz" value="{{plz}}">
            </div>
            <!--div>
                <label for="laengengrad">Längengrad:</label>
                <input type="text" name="laengengrad" id="laengengrad" value="{{latitude}}" readonly>
            </div>
            <div>
                <label for="breitengrad">Breitengrad:</label>
                <input type="text" name="breitengrad" id="breitengrad" value="{{longitude}}" readonly>
            </div-->
            <button type="submit">Abschicken</button>
        </form>
        <div id="fuelstationAll">
            {{#each fuelStationResult.stations}}
            <div class="fuelstation">
                <p><b>Tankstelle:</b><br/> {{this.brand}} {{this.street}}<br/> ({{this.place}})</p>
                <p><b>Entfernung (km):</b> {{this.dist}}</p>
                <p><b>Benzin (E5):</b> {{this.e5}}</p>
                <p><b>Benzin (E10):</b> {{this.e10}}</p>
                <p><b>Diesel:</b> {{this.diesel}}</p>
            </div>
            {{/each}}
        </div>
    </div>
</section>