<section>
<div class="car-partial">
    <div class="car-img-div"><img src="{{bild}}" class="car-image" alt="Autobild"/></div>
    <p class="p-class"><span>Kennzeichen:</span><span>{{ kennzeichen }}</span></p>
    <hr>
    <p class="p-class"><span>Hersteller:</span><span>{{ hersteller }}</span></p>
    <hr>
    <p class="p-class"><span>Modell:</span><span>{{ modell }}</span></p>
    <hr>
    <p class="p-class"><span>Erstzulassung:</span><span>{{ erstzulassung_monat }}/{{ erstzulassung_jahr }}</span></p>
    <hr>
    <p class="p-class"><span>Kilometerstand:</span><span>{{ kilometerstand_aktuell }} km</span></p>
    <hr>
    <p class="p-class"><span>Kilometerkosten:</span><span>{{ kilometerkosten }} EUR</span></p>
   
    <a href="/myaccount/logbook/add/{{ this._id }}"><button class="neu-button">Neue Fahrt</button></a><br>
    <a href="/myaccount/fuelbook/add/{{ this._id }}"><button class="neu-button">Tanken</button></a><br>
    <a href="/myaccount/car-details/{{ this._id }}"><button class="neu-button">Fahrzeugdetails</button></a><br>
</div>
</section>


