<div class="car-partial">
    <p>Kennzeichen: {{ kennzeichen }}</p>
    <p>Hersteller: {{ hersteller }}</p>
    <p>Modell: {{ modell }}</p>
    <p>Erstzulassung: {{ erstzulassung_monat }}/{{ erstzulassung_jahr }}</p>
    <p>Kilometerstand: {{ kilometerstand_aktuell }}</p>   
</div>