<section>
<div class="car-partial">
    <img src="{{bild}}" class="car-image" alt="Autobild"/>    
    <p>Kennzeichen: {{ kennzeichen }}</p>
    <p>Hersteller: {{ hersteller }}</p>
    <p>Modell: {{ modell }}</p>
    <p>Erstzulassung: {{ erstzulassung_monat }}/{{ erstzulassung_jahr }}</p>
    <p>Kilometerstand: {{ kilometerstand_aktuell }}</p>
    <p>Kilometerkosten: {{ kilometerkosten }}</p>
    <br>
    <a href="/myaccount/logbook/add/{{ this._id }}" class="button"><button>Neue Fahrt</button></a><br>
    <a href="/myaccount/fuelbook/add/{{ this._id }}" class="button"><button>Tanken</button></a><br>
    <a href="/myaccount/car-details/{{ this._id }}" class="button"><button>Fahrzeugdetails</button></a><br>
</div>
</section>