
  <tr>
    <td>{{ datum }}</td>
    <td>{{ kilometerstand }}</td>
    <td>{{ liter }}</td>
    <td>{{ literpreis }}</td>
    <td>{{ betrag }}</td>
    <td><a href="/myaccount/fuelbook/edit?carId={{ carId }}&fuelbookId={{ this._id }}"><button
          class="neu-button">Eintrag ändern</button></a></td>
    <td><a href="/myaccount/fuelbook/delete?carId={{ carId }}&fuelbookId={{ this._id }}"><button
          class="neu-button">Eintrag löschen</button></a></td>
  </tr>