<div class="fuel-partial">
    <p>Datum: {{ datum }}</p>
    <p>Kilometerstand: {{ kilometerstand }}</p>
    <p>Liter: {{ liter }}</p>
    <p>Liter Preis: {{ literpreis }}</p> 
    <p>Betrag: {{ betrag }}</p>    
</div>