<div class="insurance-partial">
    <p>Versicherungsjahr: {{ abschluss_jahr }}</p>
    <p>Name: {{ name }}</p>
    <p>Typ: {{ typ }}</p>
    <p>Kilometerstand bei Abschluss: {{ abschluss_kilometerstand }}</p> 
    <p>Geschätzte Laufleistung: {{ geschaetzte_laufleistung }}</p>
    <p>Betrag: {{ betrag }}</p>    
</div>