<tr>
  <td>{{ jahr }}</td>
  <td>{{ name }}</td>
  <td>{{ typ }}</td>
  <td>{{ abschluss_kilometerstand }}</td>
  <td>{{ geschaetzte_laufleistung }}</td>
  <td>{{ betrag }}</td>
  <td>{{ schadensfreiheitsklasse }}</td>
  <td><a href="/myaccount/insurance/edit?carId={{ carId }}&insuranceId={{ this._id }}"><button
        class="neu-button">Eintrag ändern</button></a></td>
  <td><a href="/myaccount/insurance/delete?carId={{ carId }}&insuranceId={{ this._id }}"><button
        class="neu-button">Eintrag löschen</button></a></td>
</tr>