<table>
<tr>
  <th>Versicherungsjahr</th>
  <th>Name</th>
  <th>Typ</th>
  <th>Kilometerstand bei Abschluss:</th>
  <th>Geschätzte Laufleistung</th>
  <th>Betrag</th>
  <th>Schadensfreiheitsklasse</th>
</tr>
<tr>
  <td>{{ jahr }}</td>
  <td>{{ name }}</td>
  <td>{{ typ }}</td>
  <td>{{ abschluss_kilometerstand }}</td>
  <td>{{ geschaetzte_laufleistung }}</td>
  <td>{{ betrag }}</td>
  <td>{{ schadensfreiheitsklasse }}</td>
</tr>
</table>



<!--<div class="insurance-partial">
    <p>Versicherungsjahr: {{ jahr }}</p>
    <p>Name: {{ name }}</p>
    <p>Typ: {{ typ }}</p>
    <p>Kilometerstand bei Abschluss: {{ abschluss_kilometerstand }}</p> 
    <p>Geschätzte Laufleistung: {{ geschaetzte_laufleistung }}</p>
    <p>Betrag: {{ betrag }}</p>  
	<p>Schadensfreiheitsklasse: {{ schadensfreiheitsklasse }}</p>
</div>
-->