<div>
 <p>Datum: {{ datum }}</p>
 <p>Startort: {{ startort }}</p>
 <p>Zielort: {{ zielort }}</p>
 <p>Kilometerstand Start: {{ kilometerstand_start }}</p>
 <p>Kilometerstand Ende: {{ kilometerstand_ende }}</p>
 <p>Strecke Gesamt (km): {{ strecke }}</p>
</div>