<tr>
  <td>{{ datum }}</td>
  <td>{{ startort }}</td>
  <td>{{ zielort }}</td>
  <td>{{ kilometerstand_start }}</td>
  <td>{{ kilometerstand_ende }}</td>
  <td>{{ strecke_km }}</td>
  <td><a href="/myaccount/logbook/edit?carId={{ carId }}&logbookId={{ this._id }}"><button
        class="neu-button">Eintrag ändern</button></a></td>
  <td><a href="/myaccount/logbook/delete?carId={{ carId }}&logbookId={{ this._id }}"><button
        class="neu-button">Eintrag löschen</button></a></td>
  <br>
</tr>