<div class="service-partial">
    <p>Datum: {{ datum }}</p>
    <p>Kilometerstand: {{ kilometerstand }}</p>
    <p>Posten: {{ reparaturposten }}</p>
    <p>Betrag: {{ betrag }}</p> 
    <p><a href="{{ rechnungs_url }}"><button>Rechnung</button></a></p>
</div>