<table>
<tr>
  <th>Datum</th>
  <th>Kilometerstand</th>
  <th>Posten</th>
  <th>Betrag</th>
  <th>Rechnung</th>
</tr>
<tr>
  <td>{{ datum }}</td>
  <td>{{ kilometerstand }}</td>
  <td>{{ reparaturposten }}</td>
  <td>{{ betrag }}</td>
  <td><a href="{{ rechnungs_url }}"><button class="rechnung-hochladen">Rechnung</button></a></td>
</tr>
</table>


<!--<div class="service-partial">
    <p>Datum: {{ datum }}</p>
    <p>Kilometerstand: {{ kilometerstand }}</p>
    <p>Posten: {{ reparaturposten }}</p>
    <p>Betrag: {{ betrag }}</p> 
    <p><a href="{{ rechnungs_url }}"><button>Rechnung</button></a></p>
</div>
-->