
  <tr>
    <td>{{ datum }}</td>
    <td>{{ kilometerstand }}</td>
    <td>{{ reparaturposten }}</td>
    <td>{{ betrag }}</td>
    <td><a href="{{ rechnungs_url }}"><button class="rechnung-hochladen">Rechnung</button></a></td>
    <td><a href="/myaccount/service/edit?carId={{ ../car._id }}&serviceId={{ this._id }}"><button
          class="neu-button">Eintrag
          ändern</button></a></td>
    <td><a href="/myaccount/service/delete?carId={{ ../car._id }}&serviceId={{ this._id }}"><button
          class="neu-button">Eintrag löschen</button></a></td>
  </tr>
