
  <tr>
    <td>{{ jahr }}</td>
    <td>{{ betrag }}</td>
    <td><a href="/myaccount/tax/edit?carId={{ carId }}&taxId={{ this._id }}"><button class="neu-button">Eintrag
          ändern</button></a></td>
    <td><a href="/myaccount/tax/delete?carId={{ carId }}&taxId={{ this._id }}"><button class="neu-button">Eintrag
          löschen</button></a></td>
  </tr>
