<h1>Fahrzeug Details</h1>
<form action="/remove/{{ car._id }}" method="POST" id="car-remove-form">
  <div>
    <button id="car-remove-button">Fahrzeug entfernen</button>
  </div>
</form>


<h2>Fahrzeug Daten für {{ car.kennzeichen }} </h2>
<div>
  <button id="car-edit-button">Fahrzeug Daten Ändern</button>

  <form action="/edit/{{ car._id }}" method="POST" id="car-edit-form">
    <fieldset disabled id="car-edit-fieldset">
      <div>
        <label for="kennzeichen">Kennzeichen:</label>
        <input type="text" name="kennzeichen" id="kennzeichen" value="{{ car.kennzeichen }}">
      </div>
      <div>
        <label for="hersteller">Hersteller:</label>
        <input type="text" name="hersteller" id="hersteller" value="{{ car.hersteller }}">
      </div>
      <div>
        <label for="modell">Modell:</label>
        <input type="text" name="modell" id="modell" value="{{ car.modell }}">
      </div>
      <div>
        <label for="hsn">HSN:</label>
        <input type="text" name="hsn" id="hsn" value="{{ car.hsn }}">
      </div>
      <div>
        <label for="tsn">TSN:</label>
        <input type="text" name="tsn" id="tsn" value="{{ car.tsn }}">
      </div>
      <div>
        <label for="kraftstoff">Kraftstoff:</label>
        <input type="text" name="kraftstoff" id="kraftstoff" value="{{ car.kraftstoff }}">
      </div>
      <div>
        <label for="leistung_ps">Leistung in PS:</label>
        <input type="text" name="leistung_ps" id="leistung_ps" value="{{ car.leistung_ps }}">
      </div>
      <div>
        <label for="erstzulassung_monat">Erstzulassung Monat:</label>
        <input type="text" name="erstzulassung_monat" id="erstzulassung_monat"
          value="{{ car.erstzulassung_monat }}">
      </div>
      <div>
        <label for="erstzulassung_jahr">Erstzulassung Jahr:</label>
        <input type="text" name="erstzulassung_jahr" id="erstzulassung_jahr"
          value="{{ car.erstzulassung_jahr }}">
      </div>
      <div>
        <label for="kauf_jahr">Kauf Jahr:</label>
        <input type="text" name="kauf_jahr" id="kauf_jahr" value="{{ car.kauf_jahr }}">
      </div>
      <div>
        <label for="kaufpreis">Kaufpreis:</label>
        <input type="text" name="kaufpreis" id="kaufpreis" value="{{ car.kaufpreis }}">
      </div>
      <div>
        <label for="kilometerstand_kauf">Kilometerstand bei Kauf:</label>
        <input type="text" name="kilometerstand_kauf" id="kilometerstand_kauf" value="{{ car.kilometerstand_kauf }}">
      </div>
      <div>
        <label for="kilometerstand_aktuell">aktueller Kilometerstand:</label>
        <input type="text" name="kilometerstand_aktuell" id="kilometerstand_aktuell"
          value="{{ car.kilometerstand_aktuell }}">
      </div>
      <div>
        <label for="kilometerkosten">aktuelle Kosten pro Kilometer:</label>
        <input type="text" name="kilometerkosten" id="kilometerkosten"
          value="{{ car.kilometerkosten }}">
      </div>
      <button type="submit" id="update-car-details" style="display: none">Änderungen Speichern</button>
    </fieldset>
  </form>
</div>

<h2>Fahrtenbuch</h2>
<div>

  {{#each car.fahrtenbuch}}
   {{> logPartial }}
   <br>
   <a href="/myaccount/logbook/edit?carId={{ ../car._id }}&logbookId={{ this._id }}">Eintrag ändern</a>
   <br>
   <a href="/myaccount/logbook/delete?carId={{ ../car._id }}&logbookId={{ this._id }}">Eintrag löschen</a>
  {{/each}}
  <br><br>
  <a href="/myaccount/logbook/add/{{ car._id }}">Neue Fahrt</a>

</div>

<h2>Tankbuch</h2>
<div>
  {{#each car.tankbuch}}
   {{> fuelPartial }}
   <br>
   <a href="/myaccount/fuelbook/edit?carId={{ ../car._id }}&fuelbookId={{ this._id }}">Eintrag ändern</a>
   <br>
   <a href="/myaccount/fuelbook/delete?carId={{ ../car._id }}&fuelbookId={{ this._id }}">Eintrag löschen</a>
  {{/each}}
  <br><br>
  <a href="/myaccount/fuelbook/add/{{ car._id }}">Tanken</a>
</div>

<h2>Werkstatt Buch</h2>
<div>
  {{#each car.werkstattbuch}}
   {{> servicePartial }}
   <br>
   <a href="/myaccount/service/edit?carId={{ ../car._id }}&serviceId={{ this._id }}">Eintrag ändern</a>
   <br>
   <a href="/myaccount/service/delete?carId={{ ../car._id }}&serviceId={{ this._id }}">Eintrag löschen</a>
  {{/each}}
  <br><br>
  <a href="/myaccount/service/add/{{ car._id }}">Werkstatt-Rechnung hinzufügen</a>
</div>

<h2>Versicherung</h2>
<div>
  {{#each car.versicherungsbuch}}
   {{> insurancePartial }}
   <br>
   <a href="/myaccount/insurance/edit?carId={{ ../car._id }}&insuranceId={{ this._id }}">Eintrag ändern</a>
   <br>
   <a href="/myaccount/insurance/delete?carId={{ ../car._id }}&insuranceId={{ this._id }}">Eintrag löschen</a>
  {{/each}}
  <br><br>
  <a href="/myaccount/insurance/add/{{ car._id }}">Versicherung hinzufügen</a>
</div>

<h2>Kfz-Steuer</h2>
<div>
  {{#each car.steuerbuch}}
   {{> taxPartial }}
   <br>
   <a href="/myaccount/tax/edit?carId={{ ../car._id }}&taxId={{ this._id }}">Eintrag ändern</a>
   <br>
   <a href="/myaccount/tax/delete?carId={{ ../car._id }}&taxId={{ this._id }}">Eintrag löschen</a>
  {{/each}}
  <br><br>
  <a href="/myaccount/tax/add/{{ car._id }}">Steuereintrag hinzufügen</a>
</div>

<script src="/javascripts/editCar.js"></script>
