<!--logbook edit form - gets car as input-->
<h1>Eintrag ändern</h1>

<h2>Strecken-Daten:</h2>
<div>
  <form action="/myaccount/logbook/edit?carId={{carId}}&logbookId={{logbook._id}}" method="POST" id="form-logbook-edit">
    <div>
      <label for="datum">Datum:</label>
      <input type="text" name="datum" id="datum" value="{{logbook.datum}}">
    </div>
    <div>
      <label for="strecke_km">Strecke (km):</label>
      <input type="number" name="strecke_km" id="strecke_km" value="{{logbook.strecke_km}}">
    </div>
    <div>
      <label for="startort">Start-Ort:</label>
      <input type="text" name="startort" id="startort" value="{{logbook.startort}}">
    </div>
    <div>
      <label for="zielort">Ziel-Ort:</label>
      <input type="text" name="zielort" id="zielort" value="{{logbook.zielort}}">
    </div>
    <div>
      <label for="kilometerstand_start">Kilometerstand-Start:</label>
      <input type="number" name="kilometerstand_start" id="kilometerstand_start" value="{{logbook.kilometerstand_start}}">
    </div>
    <div>
      <label for="kilometerstand_ende">Kilometerstand-Ende:</label>
      <input type="number" name="kilometerstand_ende" id="kilometerstand_ende" value="{{logbook.kilometerstand_ende}}">
    </div>
    <button type="submit">Speichern</button>   
  </form>
</div>
