<!--- NAVBAR -->

<header>
        <div id="logo">
                <a href="/home-main"><li>MyCarApp</li></a>
        </div>

        <nav id="main-nav">
            <ul>
                <a href="/myaccount"><li>MyAccount</li></a>
                <a href="/logout"><li>Logout</li></a>
            </ul>
        </nav>
    </header>

<!--service add form - gets car as input-->
<h2>Werkstatt-Rechnung ändern</h2>

<div>
  <form action="/myaccount/service/edit?carId={{carId}}&serviceId={{service._id}}" method="POST" id="form-service-edit"  enctype="multipart/form-data">
    
  <div class="datum">
    <div>
      <label for="datum">Datum:</label>
      <input type="text" name="datum" id="datum" value="{{service.datum}}">
    </div>
  </div>

    <div class="km-reparatur">
    <div>
      <label for="kilometerstand">Kilometerstand:</label>
      <input type="text" name="kilometerstand" id="kilometerstand" value="{{service.kilometerstand}}">
    </div>
    <div>
      <label for="reparaturposten">Reparaturposten:</label>
      <input type="text" name="reparaturposten" id="reparaturposten" value="{{service.reparaturposten}}">
    </div>
    </div>

  <div class="betrag">
    <div>
      <label for="betrag">Rechnungsbetrag:</label>
      <input type="text" name="betrag" id="betrag" value="{{service.betrag}}">
    </div>
  </div>

    <li>Rechnung hochladen:</li><br>
    <div class="rechnung">
      <div>
      <input type="file" name="rechnung" id="rechnung" value="{{service.rechnungs_url}}">
      </div>
    </div>

    <button type="submit" class="save-button">Speichern</button>   
  </form>
</div>
