<!--- NAVBAR -->

<header>
        <div id="logo">
                <a href="/home-main"><li>MyCarApp</li></a>
        </div>

        <nav id="main-nav">
            <ul>
                <a href="/home-main"><li>Home</li></a>
                <a href="/myaccount"><li>MyAccount</li></a>
                <a href="/"><li>Logout</li></a>
            </ul>
        </nav>
    </header>

<!--service add form - gets car as input-->
<h1>Werkstatt-Rechnung ändern</h1>

<h2>Werkstatt-Rechnungs-Daten</h2>
<div>
  <form action="/myaccount/service/edit?carId={{carId}}&serviceId={{service._id}}" method="POST" id="form-service-edit"  enctype="multipart/form-data">
    <div>
      <label for="datum">Datum:</label>
      <input type="text" name="datum" id="datum" value="{{service.datum}}">
    </div>
    <div>
      <label for="kilometerstand">Kilometerstand:</label>
      <input type="text" name="kilometerstand" id="kilometerstand" value="{{service.kilometerstand}}">
    </div>
    <div>
      <label for="reparaturposten">Reparaturposten:</label>
      <input type="text" name="reparaturposten" id="reparaturposten" value="{{service.reparaturposten}}">
    </div>
    <div>
      <label for="betrag">Rechnungsbetrag:</label>
      <input type="text" name="betrag" id="betrag" value="{{service.betrag}}">
    </div>
    <div>
      <label for="rechnung">Rechnung:</label>
      <input type="file" name="rechnung" id="rechnung" value="{{service.rechnungs_url}}">
    </div>
    <button type="submit">Speichern</button>   
  </form>
</div>
